<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>phaser</title>
  </head>
  <body>
      <!--<script src="https://cdn.jsdelivr.net/npm/phaser@3.19.0/src/phaser.min.js"></script>-->
      <!--<script src="https://cdn.jsdelivr.net/npm/phaser@3.19.0/dist/phaser.min.js"></script>-->
      <script src="js/phaser.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
      <script src="js/constants.js"></script>
      <script src="js/water_body.js"></script>
      <script src="js/levels.js"></script>
      <script src="js/screen.js"></script>

  </body>
</html>
